In [1]:
import pandas as pd

In [2]:
# Read in the CSVs needed to make the join.
ticker = pd.read_csv('data/asx-tickers.csv')
headlines = pd.read_csv('data/abcnews-date-text.csv')

In [3]:
ticker.head(2)

  ticker          company                                        industry
0    1AD   ADALTA LIMITED  Pharmaceuticals, Biotechnology & Life Sciences
1    1AG  ALTERRA LIMITED              Commercial & Professional Services

In [4]:
headlines.head(2)

   publish_date                                      headline_text
0      20030219  aba decides against community broadcasting lic...
1      20030219     act fire witnesses must be aware of defamation

In [ ]:
from fuzzywuzzy import process, fuzz
from tqdm import tqdm, tqdm_notebook
tqdm_notebook().pandas(tqdm())

def fuzzy_match(x, choices, scorer, cutoff):
    return process.extractOne(
        x, choices=choices, scorer=scorer, score_cutoff=cutoff
    )

matching_results = headlines.loc[:, 'headline_text'].progress_apply(
    fuzzy_match,
    args=(
        ticker.loc[:, 'company'], 
        fuzz.token_set_ratio,
        80
    )
)

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

0it [00:00, ?it/s]

HBox(children=(IntProgress(value=0, max=1103665), HTML(value='')))