In [1]:
import pandas as pd
import numpy as np
from fuzzywuzzy import process, fuzz
from tqdm import tqdm_notebook, tqdm
import nltk
from pathlib import Path
import string

In [ ]:
# Import data and merge CSVs
ticker = pd.read_csv('../data/asx-tickers.csv')
combined_headlines = Path('../data/scraped/combined_headlines.csv')
if not combined_headlines.is_file():
    head_1 = pd.read_csv('../data/scraped/2006_2010.csv')
    head_2 = pd.read_csv('../data/scraped/2010_2010.csv')
    head_3 = pd.read_csv('../data/scraped/2010_2016.csv')
    head_4 = pd.read_csv('../data/scraped/2016_2017.csv')
    headlines = head_1.append([head_2, head_3, head_4])
    headlines.to_csv('../data/scraped/combined_headlines.csv')

headlines = pd.read_csv('../data/scraped/combined_headlines.csv')

In [ ]:
# Clean up the headlines (lightly) - drop excess characters and duplicates
stripped = headlines.titles.apply(lambda x: x.strip('"\' ' ))
headlines_clean = headlines[~headlines.titles.duplicated(keep='first')]

In [ ]:
# Drop records that don't have any company words
translator = str.maketrans('','',string.punctuation)

def normalize(s):
    return s.lower().translate(translator).split()

def incompwords(s):
    headwords = set(normalize(s))
    return len(headwords & compwords) > 0

compwords = set(normalize((" ".join(ticker['company'].values))))
headlines_filtered = headlines_clean[headlines_clean.titles.apply(incompwords)]

print("Headlines with company names: ",headlines_filtered.shape[0])
headlines_filtered.head(3)

In [ ]:
# Identify the Named Entities in each headline, associating them to their own
# column within the dataframe. Save this as CSV to prevent later processing needs.
# https://stackoverflow.com/questions/36255291/extract-city-names-from-text-using-python

# !!! This will only run if headline_entity_id.csv isn't in the data folder

nltk.download('punkt')
nltk.download('maxent_ne_chunker')
nltk.download('words')

def extract_entity_names(t):
    entity_names = []

    if hasattr(t, 'label') and t.label:
        if t.label() == 'NE':
            entity_names.append(' '.join([child[0] for child in t]))
        else:
            for child in t:
                entity_names.extend(extract_entity_names(child))

    return entity_names

def identify_entities():
    f = headlines_filtered.titles.tolist()
    matches = []
    for line in tqdm(f, total=len(f), unit="headlines"):
        sentences = nltk.sent_tokenize(line)
        tokenized_sentences = [nltk.word_tokenize(sentence) for sentence in sentences]
        tagged_sentences = [nltk.pos_tag(sentence) for sentence in tokenized_sentences]
        chunked_sentences = nltk.ne_chunk_sents(tagged_sentences, binary=True)

        entities = []
        for tree in chunked_sentences:
            entities.extend(extract_entity_names(tree))
            
        if len(entities) == 0:
            matches.append(np.nan)
        else:
            matches.append(", ".join(entities))

    series = pd.Series(matches)
    out = headlines_filtered.copy()
    out['entities'] = series.values
    out = out.dropna()
    out.to_csv("../data/headline_entity_id.csv")
    
entitymatch = Path('../data/headline_entity_id.csv')
if not entitymatch.is_file():
    # Build the entity matches
    identify_entities()
else:
    print("Entities already generated. Delete CSV to rebuild (if desired).")  
headline_entities = pd.read_csv("../data/headline_entity_id.csv")

In [ ]:
# Parallelization Code: Will split data evenly amoungst threads
from multiprocessing import cpu_count, Pool

cores = cpu_count()
 
def parallelize(data, func):
    data_split = np.array_split(data, cores)
    pool = Pool(cores)
    data = pd.concat(pool.map(func, data_split))
    pool.close()
    pool.join()
    return data

In [ ]:
# Attempt to fuzzy match
tqdm().pandas(desc="Fuzzy Match")
FIRSTN = 15000

def fuzzy_match(x, choices, scorer, cutoff):
    if x == '' or type(x) != str:
        return
    return process.extractOne(x, choices=choices, scorer=scorer, score_cutoff=cutoff)
    

# Parallelization function, to run on each split of data
def appfun(df):
    return df.loc[:FIRSTN, 'entities'].progress_apply(
        fuzzy_match,
        args=(
            ticker.loc[:, 'company'].map(lambda x: x.title()), 
            fuzz.ratio,
            70
        )
    )

# Run in parallel (pick one)
# matching_results = parallelize(headline_entities, appfun)

# Run in thread (pick one)
# matching_results = appfun(headline_entities)

# Compare
# test = headline_entities[:FIRSTN].copy()
# test['match'] = matching_results
# test[test['match'].notnull()]

In [ ]:
# Attempt the Position Based Algorithm
tick_df = ticker.copy();
tick_df['set'] = tick_df['company'].apply(lambda x: set(x.title().split(" ")))
tick_df['list'] = tick_df['company'].apply(lambda x: x.title().split(" "))

MIN_SCORE = 0.3
def findMatches(headline):
    matchedCompanies = []
    
    # Return if the headline has no entities.
    if headline['entities'] == '' or type(headline['entities']) != str:
        return None
    
    entity_set = set(headline['entities'].split(', '))
    
    # Iterate over sets of companies
    for _,company in tick_df.iterrows():
        matchingHeads = []
        companyMatchScore = 0
        company_set = company['set']
        
        shared = entity_set & company_set
        if len(shared) > 0:
            for word in shared:
                idx = company['list'].index(word)
                companyMatchScore += (1/(idx+1))
        normalizedScore = companyMatchScore / len(company_set)
        if normalizedScore >= MIN_SCORE:
            matchedCompanies.append((company['company'], normalizedScore))
            
                
    matchedCompanies.sort(key=lambda x: x[1], reverse=True)
    return matchedCompanies[:10]

# Run in parallel
tqdm.pandas(desc="Position Match")
def appfun(df):
    return df.progress_apply(findMatches, axis=1)
# matching_results = parallelize(headline_entities, appfun)
matching_results = appfun(headline_entities)
# Compare
test = headline_entities.copy()
test['match'] = matching_results
test['match'] = test['match'].dropna()
test.to_csv("../data/position_match.csv")

In [17]:
matches = pd.read_csv("../data/position_match.csv")
def fixthis(x):
    if x == '[]':
        return None
    else:
        return x
matches.match = matches.match.apply(fixthis)
matches.dropna()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,date,titles,entities,match
3,3,7,7,2006-01-01,Adelaide notch 4-2 win against Roar,"Adelaide, Roar","[('ADELAIDE BRIGHTON LIMITED', 0.3333333333333..."
5,5,9,9,2006-01-01,Adelaide trounce Roar to extend lead,Adelaide,"[('ADELAIDE BRIGHTON LIMITED', 0.3333333333333..."
8,8,13,13,2006-01-01,Sydney records record temperature,Sydney,"[('SYDNEY AIRPORT', 0.5)]"
9,9,15,15,2006-01-01,World welcomes 2006,World,"[('WORLD REACH LIMITED', 0.3333333333333333)]"
12,12,25,25,2006-01-01,Progress made against NSW fires,"Progress, NSW","[('PROGRESS 2010-1 TRUST', 0.3333333333333333)]"
36,36,69,69,2006-01-01,Adelaide end losing streak,Adelaide,"[('ADELAIDE BRIGHTON LIMITED', 0.3333333333333..."
37,37,71,71,2006-01-01,Riot task force to remain in Sydney,"Riot, Sydney","[('SYDNEY AIRPORT', 0.5)]"
52,52,96,96,2006-01-01,Blaze threatens western Vic towns,Blaze,"[('BLAZE INTERNATIONAL LIMITED', 0.33333333333..."
62,62,115,115,2006-01-02,Search called off for Adelaide gunman,"Search, Adelaide","[('ADELAIDE BRIGHTON LIMITED', 0.3333333333333..."
66,66,123,123,2006-01-02,Aussie wildcards culled in Adelaide,"Aussie, Adelaide","[('ADELAIDE BRIGHTON LIMITED', 0.3333333333333..."
88,88,182,182,2006-01-02,Victory still waiting for PSV approach,"Victory, PSV","[('VICTORY MINES LIMITED', 0.3333333333333333)]"
89,89,183,183,2006-01-02,Wildcards in action in Adelaide,Adelaide,"[('ADELAIDE BRIGHTON LIMITED', 0.3333333333333..."
93,93,192,192,2006-01-02,Sydney man to face court over Hay drug charges,"Sydney, Hay","[('SYDNEY AIRPORT', 0.5)]"
100,100,209,209,2006-01-02,Fire destroys Sydney factory,"Fire, Sydney","[('SYDNEY AIRPORT', 0.5)]"
105,105,219,219,2006-01-02,Heat to continue over much of Queensland,"Heat, Queensland","[('QUEENSLAND BAUXITE LIMITED', 0.333333333333..."
111,111,230,230,2006-01-02,Cash on comeback trail in Chennai,"Cash, Chennai","[('CASH CONVERTERS INTERNATIONAL', 0.333333333..."
120,120,255,255,2006-01-03,Hewitt battles into Adelaide second round,"Hewitt, Adelaide","[('ADELAIDE BRIGHTON LIMITED', 0.3333333333333..."
124,124,259,259,2006-01-03,Adelaide search fails to find gunman,Adelaide,"[('ADELAIDE BRIGHTON LIMITED', 0.3333333333333..."
175,175,383,383,2006-01-03,Esperance marks successful year: shire presid...,Esperance,"[('ESPERANCE MINERALS LIMITED', 0.333333333333..."
207,207,455,455,2006-01-03,Ancic advances in Adelaide,"Ancic, Adelaide","[('ADELAIDE BRIGHTON LIMITED', 0.3333333333333..."
210,210,467,467,2006-01-03,Erratic Arsenal brace for United onslaught,"Erratic Arsenal, United","[('UNITED NETWORKS LIMITED', 0.3333333333333333)]"
215,215,479,479,2006-01-04,South Africa files complaint over Test taunts,"South Africa, Test","[('TEST SECURITY', 0.5)]"
220,220,491,491,2006-01-04,Socceroos handed Asian Cup draw,"Socceroos, Asian","[('ASIAN DEVELOPMENT BANK', 0.3333333333333333)]"
222,222,494,494,2006-01-04,UAE Prime Minister dies in Queensland,"UAE, Queensland","[('QUEENSLAND BAUXITE LIMITED', 0.333333333333..."
238,238,524,524,2006-01-04,Telstra relocates Tas corporate affairs offic...,"Telstra, Tas","[('TELSTRA CORPORATION LIMITED.', 0.3333333333..."
277,277,609,609,2006-01-04,State funds boost outback celebration coffers,State,"[('STATE GAS LIMITED', 0.3333333333333333)]"
312,312,691,691,2006-01-04,United in goalless stalemate with Arsenal,"United, Arsenal","[('UNITED NETWORKS LIMITED', 0.3333333333333333)]"
315,315,699,699,2006-01-04,Triple fatality lifts road toll to 64,Triple,"[('TRIPLE ENERGY LIMITED', 0.3333333333333333)]"
328,328,727,727,2006-01-05,Adelaide United maintains winning streak,United,"[('UNITED NETWORKS LIMITED', 0.3333333333333333)]"
332,332,738,738,2006-01-05,Hotel escapes censure over hepatitis outbreak,Hotel,"[('HOTEL PROPERTY INVESTMENTS', 0.333333333333..."
...,...,...,...,...,...,...,...
486979,486979,904704,132561,2017-12-28,Comanche takes Sydney to Hobart after Wild Oa...,"Comanche, Sydney, Hobart, Wild Oats XI","[('SYDNEY AIRPORT', 0.5)]"
486986,486986,904713,132570,2017-12-28,Man charged with murder of Byron's popular DJ...,"Man, Byron","[('BYRON ENERGY LIMITED', 0.3333333333333333)]"
486993,486993,904723,132580,2017-12-28,"Nadal in doubt for Australian Open, withdraws...","Nadal, Australian Open, Brisbane","[('BRISBANE BRONCOS LIMITED', 0.33333333333333..."
487010,487010,904767,132624,2017-12-28,Five burning questions about season two of Th...,Crown,"[('CROWN RESORTS LIMITED', 0.3333333333333333)]"
487012,487012,904771,132628,2017-12-28,Bernard Tomic Open spot in doubt after withdr...,"Bernard Tomic Open, Brisbane","[('BRISBANE BRONCOS LIMITED', 0.33333333333333..."
487016,487016,904778,132635,2017-12-28,Lawyer says Australian grandmother cleared of...,"Lawyer, Australian, Malaysia","[('AUSTRALIAN BAUXITE LIMITED.', 0.33333333333..."
487026,487026,904794,132651,2017-12-29,Scorchers too hot for the Renegades in Melbou...,Melbourne,"[('MELBOURNE IT LIMITED', 0.3333333333333333)]"
487029,487029,904797,132654,2017-12-29,Victory get the win over Jets in Melbourne,"Victory, Melbourne","[('MELBOURNE IT LIMITED', 0.3333333333333333),..."
487040,487040,904821,132678,2017-12-29,Test heading for a draw after dour Australian...,"Test, Australian","[('TEST SECURITY', 0.5), ('AUSTRALIAN BAUXITE ..."
487042,487042,904823,132680,2017-12-29,Bakery customers hospitalised after salmonell...,"Bakery, Adelaide","[('ADELAIDE BRIGHTON LIMITED', 0.3333333333333..."
487043,487043,904825,132682,2017-12-29,Rescue operation underway after deadly buildi...,"Rescue, India","[('INDIA FUND LIMITED.', 0.3333333333333333), ..."
487045,487045,904833,132690,2017-12-29,Myanmar releases journalists and staff jailed...,Myanmar,"[('MYANMAR METALS LIMITED', 0.3333333333333333)]"
487049,487049,904848,132705,2017-12-29,Australian pundits accuse England of Ashes ba...,"Australian, England, Ashes","[('AUSTRALIAN BAUXITE LIMITED.', 0.33333333333..."
487052,487052,904853,132710,2017-12-29,Beach booze ban extended after wild party cos...,Beach,"[('BEACH ENERGY LIMITED', 0.3333333333333333)]"
487054,487054,904864,132721,2017-12-29,The evolution of Maxwell remains 'unfinished ...,"Maxwell, Test","[('TEST SECURITY', 0.5)]"
487059,487059,904874,132731,2017-12-29,Don't be scared to celebrate New Year's Eve i...,"New Year, Melbourne","[('MELBOURNE IT LIMITED', 0.3333333333333333)]"
487064,487064,904883,132740,2017-12-29,Six experts give their take on where the Aust...,Australian,"[('AUSTRALIAN BAUXITE LIMITED.', 0.33333333333..."
487065,487065,904884,132741,2017-12-29,Wild Oats XI 'should have been disqualified' ...,"Wild Oats XI, Sydney","[('SYDNEY AIRPORT', 0.5)]"
487068,487068,904889,132746,2017-12-29,Alastair Cook rediscovers Australia as Test g...,"Alastair Cook, Australia, Test","[('TEST SECURITY', 0.5)]"
487072,487072,904896,132753,2017-12-29,Ichi Ban takes handicap honours in Sydney to ...,"Ichi Ban, Sydney","[('SYDNEY AIRPORT', 0.5)]"
487076,487076,904906,132763,2017-12-29,Adelaide CBD shop fire possibly arson,Adelaide,"[('ADELAIDE BRIGHTON LIMITED', 0.3333333333333..."
487078,487078,904908,132765,2017-12-29,Don't stop me now: Broad defies bouncer fears...,"Broad, Queen, England","[('BROAD INVESTMENTS LIMITED', 0.3333333333333..."
487083,487083,904921,132778,2017-12-29,Queensland entrepreneurs sowing the seeds for...,Queensland,"[('QUEENSLAND BAUXITE LIMITED', 0.333333333333..."
487088,487088,904939,132796,2017-12-30,10-man Roar win in Adelaide as Sydney FC crus...,"Adelaide, Sydney FC","[('ADELAIDE BRIGHTON LIMITED', 0.3333333333333..."
487093,487093,904947,132804,2017-12-30,NYE revellers set up around Sydney Harbour 40...,"NYE, Sydney","[('SYDNEY AIRPORT', 0.5)]"
487098,487098,904959,132816,2017-12-30,Family remembers Australian stabbed to death ...,"Australian, Sweden","[('AUSTRALIAN BAUXITE LIMITED.', 0.33333333333..."
487100,487100,904961,132818,2017-12-30,Agar drafted into Test squad for SCG clash,"Agar, Test, SCG","[('TEST SECURITY', 0.5)]"
487111,487111,904976,132833,2017-12-30,What you need to know about New Year's Eve in...,"New Year, Brisbane","[('BRISBANE BRONCOS LIMITED', 0.33333333333333..."
487113,487113,904978,132835,2017-12-30,As it happened: Fourth Test ends in a draw as...,"Test, Smith","[('TEST SECURITY', 0.5)]"
487118,487118,904985,132842,2017-12-30,'Dead rubber' Ashes talk only reveals those w...,Test,"[('TEST SECURITY', 0.5)]"

In [3]:
fuzzy_matches = pd.read_csv('../data/fuzzy_match.csv')
fuzzy_matches

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,date,titles,entities,match
0,0,0,0,2006-01-01,Russia completes Ukraine gas cut-off,"Russia, Ukraine",NaN
1,1,3,3,2006-01-01,Russia takes over G8,Russia,NaN
2,2,4,4,2006-01-01,Turkish children tested for bird flu,Turkish,NaN
3,3,7,7,2006-01-01,Adelaide notch 4-2 win against Roar,"Adelaide, Roar",NaN
4,4,8,8,2006-01-01,"Famine a national disaster, Kenyan President ...","Famine, Kenyan",NaN
5,5,9,9,2006-01-01,Adelaide trounce Roar to extend lead,Adelaide,NaN
6,6,10,10,2006-01-01,Aust fire crews aid fight against New Caledon...,"Aust, New Caledonian",NaN
7,7,11,11,2006-01-01,Man questioned over Valley stabbing,"Man, Valley",NaN
8,8,13,13,2006-01-01,Sydney records record temperature,Sydney,NaN
9,9,15,15,2006-01-01,World welcomes 2006,World,NaN
10,10,18,18,2006-01-01,Proteas turning to spinners against Australia,Australia,NaN
11,11,21,21,2006-01-01,US triumph over Serbia and Montenegro,"US, Serbia, Montenegro",NaN
12,12,25,25,2006-01-01,Progress made against NSW fires,"Progress, NSW",NaN
13,13,26,26,2006-01-01,Ferguson bows out on the Gold Coast,"Ferguson, Gold Coast",NaN
14,14,28,28,2006-01-01,Beached whales shot in NZ,Beached,NaN
15,15,32,32,2006-01-01,Bolder blocking Great Ocean Road removed,"Bolder, Great Ocean Road",NaN
16,16,33,33,2006-01-01,Five dead in SA road accidents,SA,NaN
17,17,34,34,2006-01-01,Indonesian police detain man after market bom...,Indonesian,NaN
18,18,36,36,2006-01-01,Fires threaten NSW central coast,NSW,NaN
19,19,39,39,2006-01-01,Iraqi baby arrives for treatment in US,"Iraqi, US",NaN
20,20,41,41,2006-01-01,Severe flooding hits US wine regions,US,NaN
21,21,43,43,2006-01-01,Fires threaten homes on NSW central coast,NSW,NaN
22,22,45,45,2006-01-01,Thousands without power in Unley,Unley,NaN
23,23,46,46,2006-01-01,Fire in unit kills one,Fire,NaN
24,24,47,47,2006-01-01,Arthurs out of Hopman Cup,Hopman Cup,NaN
25,25,48,48,2006-01-01,Ivanovic gives Serbia and Montenegro 1-0 lead,"Ivanovic, Serbia, Montenegro",NaN
26,26,55,55,2006-01-01,WA road toll at lowest level in 2005,WA,NaN
27,27,56,56,2006-01-01,Arrest over Daceyville death,"Arrest, Daceyville",NaN
28,28,57,57,2006-01-01,Former South Africa all-rounder Barlow dies,"Former South Africa, Barlow",NaN
29,29,58,58,2006-01-01,Fire burns out of control,Fire,NaN
...,...,...,...,...,...,...,...
487096,487096,904956,132813,2017-12-30,Amazon shares hit after Donald Trump says US ...,"Amazon, Donald Trump, US Postal Service",NaN
487097,487097,904958,132815,2017-12-30,It is so cold in the US right now that sharks...,US,NaN
487098,487098,904959,132816,2017-12-30,Family remembers Australian stabbed to death ...,"Australian, Sweden",NaN
487099,487099,904960,132817,2017-12-30,Rugby star Karmichael Hunt charged with drug ...,"Rugby, Karmichael Hunt",NaN
487100,487100,904961,132818,2017-12-30,Agar drafted into Test squad for SCG clash,"Agar, Test, SCG",NaN
487101,487101,904962,132819,2017-12-30,Driver allegedly took meth before 7yo son kil...,Driver,NaN
487102,487102,904964,132821,2017-12-30,Call of Duty 'swatting' prank could have led ...,"Call, US",NaN
487103,487103,904965,132822,2017-12-30,New York Fire Department releases video from ...,New York Fire Department,NaN
487104,487104,904967,132824,2017-12-30,Chinese viewers watch first Sydney to Hobart ...,"Chinese, Hobart",NaN
487105,487105,904968,132825,2017-12-30,Khawaja stays focused on job at hand with Sou...,"Khawaja, South Africa",NaN
487106,487106,904970,132827,2017-12-30,All you need to know to enjoy Hobart's New Ye...,"Hobart, New Year",NaN
487107,487107,904971,132828,2017-12-30,"Batteries, rockets, elder abuse and AFL final...","AFL, SA",NaN
487108,487108,904972,132829,2017-12-30,Russia extending influence into Asia Pacific ...,"Russia, Asia Pacific",NaN
487109,487109,904973,132830,2017-12-30,Djokovic in doubt for Australian Open after w...,"Djokovic, Australian Open, Abu Dhabi",NaN
487110,487110,904974,132831,2017-12-30,Ringo Starr and Barry Gibb knighted in Queen'...,"Ringo Starr, Barry Gibb, Queen, New Year",NaN
487111,487111,904976,132833,2017-12-30,What you need to know about New Year's Eve in...,"New Year, Brisbane",NaN
487112,487112,904977,132834,2017-12-30,"Scandal, financial pain and by-elections â€” we...",Scandal,NaN
487113,487113,904978,132835,2017-12-30,As it happened: Fourth Test ends in a draw as...,"Test, Smith",NaN
487114,487114,904979,132836,2017-12-30,Citizen science projects to get hooked on thi...,Citizen,NaN
487115,487115,904980,132837,2017-12-30,Swing sets for seniors as Canberra considers ...,Canberra,NaN
487116,487116,904981,132838,2017-12-30,Nine things that shook Victorian politics in ...,"Nine, Victorian",NaN
487117,487117,904983,132840,2017-12-30,Third time lucky for Chinese yacht Derucci in...,Chinese,NaN
487118,487118,904985,132842,2017-12-30,'Dead rubber' Ashes talk only reveals those w...,Test,NaN
487119,487119,904987,132844,2017-12-30,Fitness model on an outback health mission,Fitness,NaN
487120,487120,904990,132847,2017-12-30,Liberians celebrate the election of George Weah,George Weah,NaN
487121,487121,904991,132848,2017-12-30,Liberia's vice president paves way for footba...,Liberia,NaN
487122,487122,904995,132852,2017-12-30,Good news you probably missed while worrying ...,Good,NaN
487123,487123,904998,132855,2017-12-30,Flinders Street attack victim Antonios Crocar...,"Flinders Street, Antonios Crocaris",NaN
487124,487124,904999,132856,2017-12-30,Zuma not held to account for home upgrade sca...,"Zuma, South African",NaN
487125,487125,905000,132857,2017-12-30,Giant Russian bombers flying out of Indonesia...,"Giant, Russian, Indonesian",NaN